body
	{
	background-color:#d0e4fe;
	}
	h1
	{
	color:orange;
	text-align:left;
	font-size:17px;  
	}
	h2
	{
	color:orange;
	}
	input:focus
	{
	border: 3px solid  #999966;
	background: pink;
	}
	p
	{
	font-family:"Monospace";
	font-size:20px;
	}